{% extends 'base.html.twig' %}

{% block css %}
    <!-- <link rel="stylesheet" href="{{ asset('uimagine.design/css/dist/essential.css') }}" /> -->
    <!-- <link rel="stylesheet" href="{{ asset('uimagine.design/css/dist/grid.css') }}" /> -->
    <!-- <link rel="stylesheet" href="{{ asset('css/dist/grid-custom.min.css') }}" /> -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col xs-12 sm-3 md-2">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4 sm-3 md-2">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
    </div>
    <div class="row sm">
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
    </div>
    <div class="row compact">
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
        <div class="col xs-4">
            <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
        </div>
    </div>
{% endblock %}
