{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/dist/grid.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/dist/grid-custom.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row compact">
            <!-- <div class="col">
                <h1>Grid</h1>
                <p>Necessário:</p>
                <ul>
                    <li>bundle.min.css</li>
                </ul>
                <p>Ou</p>
                <ul>
                    <li>grid.min.css</li>
                </ul>
                <p>O grid utiliza a seguinte estrutura .container > .row > .col</p>
                <p>A classe .col suporte por padrão 12 colunas, mas também sendo possível usar 10</p>
            </div> -->
            <div class="_custom_grid_">
                <div class="col xs-12">
                    <div>
                        <p>xs-12</p>
                    </div>
                </div>
                <div class="col xs-6">
                    <div>
                        <p>xs-6</p>
                    </div>
                </div>
                <div class="col xs-6">
                    <div>
                        <p>xs-6</p>
                    </div>
                </div>
                <div class="col xs-4">
                    <div>
                        <p>xs-4</p>
                    </div>
                </div>
                <div class="col xs-4">
                    <div>
                        <p>xs-4</p>
                    </div>
                </div>
                <div class="col xs-4">
                    <div>
                        <p>xs-4</p>
                    </div>
                </div>
                <div class="col xs-3">
                    <div>
                        <p>xs-3</p>
                    </div>
                </div>
                <div class="col xs-3">
                    <div>
                        <p>xs-3</p>
                    </div>
                </div>
                <div class="col xs-3">
                    <div>
                        <p>xs-3</p>
                    </div>
                </div>
                <div class="col xs-3">
                    <div>
                        <p>xs-3</p>
                    </div>
                </div>
                <div class="col xs-2">
                    <div>
                        <p>xs-2</p>
                    </div>
                </div>
                <div class="col xs-2">
                    <div>
                        <p>xs-2</p>
                    </div>
                </div>
                <div class="col xs-2">
                    <div>
                        <p>xs-2</p>
                    </div>
                </div>
                <div class="col xs-2">
                    <div>
                        <p>xs-2</p>
                    </div>
                </div>
                <div class="col xs-2">
                    <div>
                        <p>xs-2</p>
                    </div>
                </div>
                <div class="col xs-2">
                    <div>
                        <p>xs-2</p>
                    </div>
                </div>
                <div class="col xs-6">
                    <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
                </div>
                <div class="col xs-6">
                    <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
                </div>
                <div class="col xs-4">
                    <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
                </div>
                <div class="col xs-4">
                    <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
                </div>
                <div class="col xs-4">
                    <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
                </div>
                <!-- <div class="col xs-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget libero accumsan, vehicula elit sed, dictum magna. Curabitur feugiat in tellus at faucibus. Integer posuere pulvinar lacinia. Fusce eu mi vel nisl maximus sodales in a erat. Sed ac urna id sem faucibus posuere sit amet eget ipsum. Aliquam ac tortor ac quam consequat fringilla. Aliquam lacus ex, sodales vitae fermentum non, hendrerit vitae elit.</p>
                </div>
                <div class="col xs-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget libero accumsan, vehicula elit sed, dictum magna. Curabitur feugiat in tellus at faucibus. Integer posuere pulvinar lacinia. Fusce eu mi vel nisl maximus sodales in a erat. Sed ac urna id sem faucibus posuere sit amet eget ipsum. Aliquam ac tortor ac quam consequat fringilla. Aliquam lacus ex, sodales vitae fermentum non, hendrerit vitae elit.</p>
                </div>
                <div class="col xs-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget libero accumsan, vehicula elit sed, dictum magna. Curabitur feugiat in tellus at faucibus. Integer posuere pulvinar lacinia. Fusce eu mi vel nisl maximus sodales in a erat. Sed ac urna id sem faucibus posuere sit amet eget ipsum. Aliquam ac tortor ac quam consequat fringilla. Aliquam lacus ex, sodales vitae fermentum non, hendrerit vitae elit.</p>
                </div> -->
                <!-- <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div>
                <div class="col xs-1">
                    <div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
        </div>
        <div class="row small">
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
        </div>
        <div class="row compact">
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
            <div class="col xs-4">
                <img src="http://s1.picswalls.com/wallpapers/2015/09/20/wallpaper-2015_111528356_269.jpg" />
            </div>
        </div>
    </div>
{% endblock %}
