{% extends 'base.html.twig' %}

{% block css %}
{% endblock %}

{% block body %}
<div class="card ph-md">
    <div class="row">
        <div class="col">
            <h1 class="underline">Título</h1>
        </div>
        <div class="col">
            <h3>Descrição</h3>
            <p>As tags HTML <strong>h1</strong>, <strong>h2</strong>, <strong>h3</strong>, <strong>h4</strong>, <strong>h5</strong> e <strong>h6</strong> tem o propósito de definir título.</p>

            <hr />

            <h3>Nota</h3>
            <ul>
                <li><strong>Não</strong> é necessário qualquer classe para obter o estilo do UImagine Design</li>
                <li>Usa-se <strong>$alternativeColor</strong> como cor padrão</li>
                <li>As tags de título são <strong>Smart Responsive</strong>.</li>
            </ul>
            <hr />

            <h3>Dica</h3>
            <ul>
                <li>Sinta-se livre em usar as <a href="#">classes de tamanho de fonte</a> para manipular o tamanho mais facilmente</li>
            </ul>
            <hr />
        </div>
        <div class="col">
            <h3>Exemplo</h3>
            <h1>Heading 1 - h1</h1>
            <h2>Heading 2 - h2</h2>
            <h3>Heading 3 - h3</h3>
            <h4>Heading 4 - h4</h4>
            <h5>Heading 5 - h5</h5>
            <h6>Heading 6 - h6</h6>
            <hr />
        </div>
        <div class="col">
            <h3>estrutura de código</h3>
<pre><code class="language-markup">&lt;h1>Heading 1 - h1&lt;/h1>
&lt;h2>Heading 2 - h2&lt;/h2>
&lt;h3>Heading 3 - h3&lt;/h3>
&lt;h4>Heading 4 - h4&lt;/h4>
&lt;h5>Heading 5 - h5&lt;/h5>
&lt;h6>Heading 6 - h6&lt;/h6>
</code></pre>
    </div>
    </div>
</div>
{% endblock %}
