{% extends 'base.html.twig' %}

{% block css %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card ph-md">
                <div class="row">
                    <div class="col">
                        <h1 class="underline">Tipografia</h1>
                    </div>
                    <div class="col">
                        <h3>Descrição</h3>
                        <p>As tags HTML "h1", "h2", "h3", "h4", "h5" e "h6" são utilizadas para definir o título de textos, imagens, páginas, formulários, etc.</p>

                        <hr />

                        <h3>Nota</h3>
                        <p><strong>Não</strong> é necessário qualquer classe para obter o estilo do UImagine Design</p>
                        <p>Usa-se <strong>$alternativeColor</strong> como cor padrão</p>
                        <p>As tags de título são <strong>Smart Responsive</strong>.</p>

                        <hr />

                        <h3>Dica</h3>
                        <p>Sinta-se livre em usar as <a href="#">classes de tamanho de fonte</a> para manipular o tamanho mais facilmente</p>
                    </div>
                    <div class="col">
                        <h1>Heading 1 - h1</h1>
                        <h2>Heading 2 - h2</h2>
                        <h3>Heading 3 - h3</h3>
                        <h4>Heading 4 - h4</h4>
                        <h5>Heading 5 - h5</h5>
                        <h6>Heading 6 - h6</h7>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
