._custom_grid_
    .col
        margin-bottom: 16px
        > div
            background-color: #8bc34a
            min-height: 32px
            padding: 16px
            > a
                color: red
