{% extends 'default/navbar.html.twig' %}

{% block navbar_type %}
    <div class="container">
        <div class="menu row compact ignore-container">
            <div class="col icon">
                <a href="#">
                    <i class="icon material-icons">menu</i>
                </a>
            </div>
            <div class="col xs-6">
                <h1>Heading</h1>
            </div>
            <div class="col icon right">
                <a href="#">
                    <i class="icon material-icons">more_vert</i>
                </a>
            </div>
            <div class="col icon right">
                <a href="#">
                    <i class="icon material-icons">more_vert</i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
